<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.PutinderApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_putinder"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_putinder_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Putinder"
        tools:targetApi="31">

        <activity android:name=".application.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sign_screen.view.MainActivity">
        </activity>

        <activity
            android:name=".content_screen.activity.ContentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".content_screen.chats_screen.chat_screen.view.ChatActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".content_screen.add_place_screen.view.AddPlaceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>